@import "./variables";

footer {
  display: flex;
  flex-flow: column nowrap;
  background-color: $gray-800;
  color: $navbar-dark-color;
  text-align: left;
  padding: 10px 0;
}

.container {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-around;
}

.links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}